:root {
    --main-color: #f66f4d;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter", sans-serif;
}

body {
    font-family: "Nunito Sans", sans-serif;
    background-color: #faf8ed;
}

.text-or {
    color: var(--main-color);
}

.bg-or {
    background-color: var(--main-color);
}

/* start header */
.inner-header h1 {
    font-size: 85px;
}

.main-btn {
    border-color: var(--main-color) !important;
    transition: .3s;
}

.main-btn:hover {
    color: var(--main-color) !important;
}

.inner-header .icon-play {
    width: 50px;
    height: 50px;
    transition: .3s;
    border: 1px solid var(--main-color);
}

.inner-header .icon-play:hover {
    color: var(--main-color) !important;
    background-color: #fff;
}

.header img {
    position: relative;
    animation: updown 5s linear infinite alternate;
}

@keyframes updown {
    0% {
        bottom: 40px;
    }

    25% {
        bottom: 10px;
    }

    50% {
        bottom: 40px;
    }

    75% {
        bottom: 10px;
    }

    100% {
        bottom: 40px;
    }
}

/* end header */

/* start catgire */
.catgire .img img {
    transition: .3s;
}

.catgire .img img:hover {
    transform: translateY(-13px);
}

/* end catgire */

/* start about */
.about .img img {
    position: relative;
    animation: updown 5s linear infinite alternate;
}

.inner-about h2 {
    font-size: 65px;
}


/* end about */

/* start footer */

.footer {
    background: #ebe9e0;
}

.medai a {

    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px var(--main-color) solid;
    transition: .3s;

}

.medai a:hover {
    background: transparent;
    color: var(--main-color) !important;
}

.inner-footer a {
    transition: .3s;
}

.inner-footer a:hover {
    color: var(--main-color) !important;
}

/* end footer */

/* start nav*/
.nav-link {
    font-style: 18px !important;
}

.nav-link:hover {
    color: var(--main-color) !important;
}

.active {
    color: var(--main-color) !important;
    font-weight: bold;
}

.icon-nav {
    font-size: 25px;
    margin-right: 15px;
    cursor: pointer;
}

/* end nav*/


/* ===============================end home =================================== */
/* ===============================start about page =================================== */

.about-details img {
    position: relative;
    animation: updown 5s linear infinite alternate;
}

.inner-content-about h2 {
    font-size: 45px;
    font-weight: bold;
}

.stars i {
    color: #ffc14b;
    font-size: 25px;
}

.arrow-right {

    width: 50px;
    height: 50px;
    background-color: #2d3134;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
    font-size: 25px;
}

.arrow-right:hover {
    transform: rotate(90deg);
    background: var(--main-color);
}

/* ===============================end about page =================================== */
/* ===============================start book page =================================== */


.main-header h2 {
    font-size: 55px !important;
}

input,
select,
textarea {
    box-shadow: none !important;
    border: 2px #8888885b solid !important;
}

input:focus,
select:focus,
textarea:focus {
    border: var(--main-color);
    border: 2px var(--main-color) solid !important;
}

textarea {
    height: 250px;
    max-height: 350px !important;
}

/* ===============================end book page =================================== */
/* ===============================end tour page =================================== */
.inner-item {
    position: relative;
    overflow: hidden;
}

.inner-item:hover .layer {
    top: 0;
}

.inner-item .layer {
    position: absolute;
    top: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    transition: .5s;
}

/* ===============================end tour page =================================== */
/* ===============================start contact page =================================== */
.contact .icon-contact {
    display: block;
    width: 50px;
    height: 50px;

}

/* ===============================end contact page =================================== */

.login .inner-login {
    width: 400px;
}

.register .inner-register {
    width: 500px;
}